@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario{
    display: flex;
    flex-direction: column;
    &__campo{
        display: flex;
        flex-direction: column;
        margin: 1.5rem 0;
        gap: 1rem;
    }
    &__label{
        display: block;
        font-size: 1.8rem;
        color: rgba($color: v.$negro, $alpha: .8);
    }
    &__input{
        padding: 1rem;
        border: 1px solid darken($color: v.$gris-claro, $amount: 20);
        border-radius: .5rem;
    }
    &__submit {
        @include m.boton(v.$azul,v.$blanco);
        width: auto;
        align-self: flex-start;
    }
}